body {
    font-family: Roboto, arial, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    color: #9aa0a6;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    margin: 0;
    padding: 0;
    

}

li::first-letter {
    text-transform: capitalize;
}

.weather {
    background: #fff;
    border-radius: 16px;
    font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
    box-shadow: 0 30px 50px rgba(65, 50, 100, .08);
    padding: 40px;
    color: #878787;
    max-width: 650px;
    margin: 30px auto;
}

.weather-wrapper {
    max-width: 650px;
    margin: 30px auto;
}

.chicago {
    font-size: 28px;
     line-height: 22px;
     color: #878787;
     font-weight: 400;
     line-height: 28.8px;
     

}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 60px;
    margin-top: unset;
    vertical-align: top;
    width: 60px;
}

.weather-temperature strong {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
}